<app-navbar></app-navbar>

<p class="text">(click on text)</p>

<div class="move1" >
  <div class="box" routerLink="/error"><h2>Experiences</h2></div>
  <!--blue-->
  <div class="box2" routerLink="/error"><h2>Testimony</h2></div>
  <!--purple-->
</div>

<div class="move2">
  <div class="box3" routerLink="/error"><h2>Feedback</h2></div>
  <!--yellow-->
  <div class="box4" routerLink="/error"><h2>Information</h2></div>
  <!--green box-->
</div>

<div class="box5" routerLink="/error"><h2>Other Provide</h2></div>
<!--red-->
