/* Default footer styles */
body {
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #043a3a;
  color: #fff;
  padding: 70px;
  font-family: Arial, sans-serif;
  margin-top: 90px;
  margin-left: -0.5rem;
  margin-bottom: -0.5rem;
  border-radius: 60px 0px 0px 0px;
}

.footer div {
  text-align: left;
}

.footer a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.footer p.footerheader {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

input#newsletter {
  padding: 15px;
  width: 150px; /* Adjusted width */
  border-radius: 10px 0px 0px 10px;
  border: none;
  color: rgb(37, 63, 22);
  margin-left: 0px;
  margin-top: 15px;
  outline: transparent;
}

#submitBtn {
  padding: 15px;
  border-top-right-radius: 10px; /* Adjusted radius */
  border-bottom-right-radius: 10px; /* Adjusted radius */
  border: none;
  background-color: #45a049;
  margin-left: 0px; /* Adjusted margin */
  margin-top: 15px; /* Adjusted margin */
  opacity: 0.8; /* makes the color look duller */
  color: white;
}

#submitBtn:hover {
  opacity: 1;
  cursor: pointer;
}

.quicklinks {
  margin-left: 0;
}

.contactus {
  margin-left: 0;
}

.container {
  display: flex;
}

.box44 {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  margin-right: 0.3rem; /* Add margin for spacing between boxes */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.smalltext {
  color: rgb(255, 255, 255);
  margin-left: 33rem;
  margin-top: -2.3rem;
  font-size: 0.8rem;
}

.formbutton {
  margin-top: 2rem;
  margin-left: -15rem;
}

.ng-invalid, .ng-dirty {
  color: red;
}

.ng-submitted {
  color: #45a049;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      align-items: center;
      padding: 50px;
      margin-left: 0;
      margin-top:60px;
      border-radius: 40px 0px 0px 0px;
  }

  .footer div {
      text-align: center;
      margin-bottom: 20px;
  }

  .footer p.footerheader {
      font-size: 1.3rem;
  }

  input#newsletter {
      width: 200px; /* Adjusted width */
  }

  .smalltext {
      margin-left: 0;
      text-align: center;
      margin-top: 20px;
  }

  .formbutton {
      margin-left: 0;
      margin-top: 20px;
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  .footer {
      flex-direction: column;
      align-items: center;
      padding: 30px;
      margin-left: 0;
      margin-top: 40px;
      border-radius: 20px 0px 0px 0px;
  }

  .footer div {
      text-align: center;
      margin-bottom: 15px;
  }

  .footer p.footerheader {
      font-size: 1.1rem;
  }

  input#newsletter {
      width: 150px; /* Adjusted width */
  }

  .smalltext {
      margin-left: 0;
      text-align: center;
      margin-top: 15px;
  }

  .formbutton {
      margin-left: 0;
      margin-top: 15px;
  }
}
