<!--<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-triangle-path"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
> -->

<div class="row mt-5 d-flex justify-content-center">
  <div class="col-4">
    <button class="btn btn-primary" (click)="openSpinner()">
      Open Spinner
    </button>
  </div>
</div>



<div class="row mt-5 d-flex justify-content-center">
  <div class="col-4">
    <button class="btn btn-primary" (click)="openSpinner()">
      Open Spinner
    </button>
  </div>
</div>

<div class="row mt-5 d-flex justify-content-center">
  <div class="col-4">
    <button class="btn btn-primary" (click)="openSpinner()">
      Open Spinner
    </button>
  </div>
</div>



<button id="learnMoreBtn" routerLink="/blogpage" (click)="openSpinner()">
  Learn More
</button>
