<app-navbar></app-navbar>

<div class="image1">
  <img src="assets/aboutusimg/image 31.png" alt="" />
</div>

<h1>
  Crating Green <br /><br /><br />
  Masterpieces
</h1>

<br />

<div class="para1">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
    Vivamus hendrerit suscipit egestas. <br />
    Nunc eget congue ante. Vivamus ut sapien et ex volutpat tincidunt eget
    <br />
    at felis vivamus hendrerit suscipit egestas consectetur adipiscing elit.
  </p>

  <button
    class="btn btn-primary"
    id="learnMoreBtn"
    routerLink="/blogpage"
    (click)="openSpinner()"
  >
    Learn More
  </button>

  <button
    id="getStartedBtn"
    routerLink="/our-services"
    class="btn btn-primary"
    (click)="openSpinner()"
  >
    Get Started
  </button>
</div>
<br /><br /><br /><br /><br /><br /><br /><br />
<h2>Why Choose Us</h2>
<br />

<div class="para2">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
    Sed facilisis eleifend quam, non efficitur nisi mattis quis.
    <br />Vivamus scelerisque orci nec erat cursus, sed facilisis velit
    porttitor. <br />
    Vestibulum ligula sapien, cursus sed consectetur nec <br />
    tincidunt ac metus. Vivamus accumsan diam eget auctor.
  </p>
</div>

<br /><br /><br /><br />

<div class="image2">
  <img src="assets/aboutusimg/image 31.png" alt="" />
</div>

<div class="section">
  <div class="box1">
    <div class="icon">
      <img src="assets/aboutusimg/icons/Icon Check.png" alt="" />
    </div>
  </div>
  <div class="para3">
    <h3>Susstainable Prices</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis
      eleifend quam, non <br />
      efficitur nisi mattis quis. Vivamus scelerisque orci nec erat cursus, sed
      facilisis velit <br />
      porttitor. Vestibulum ligula sapien, cursus sed consectetur.
    </p>
    <br />
    <div class="readmore">
      <a href="#" routerLink="/lawn-care">Read More</a>
    </div>
  </div>
</div>

<div class="section2">
  <div class="box1">
    <div class="icon">
      <img src="assets/aboutusimg/icons/Icon Check.png" alt="" />
    </div>
  </div>
  <div class="para3">
    <h3>Licensed And Insured</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis
      eleifend quam, non <br />
      efficitur nisi mattis quis. Vivamus scelerisque orci nec erat cursus, sed
      facilisis velit <br />
      porttitor. Vestibulum ligula sapien, cursus sed consectetur.
    </p>
    <br />
    <div class="readmore">
      <a href="#" routerLink="/articles">Read More</a>
    </div>
  </div>

  <div class="section3">
    <div class="box1">
      <div class="icon">
        <img src="assets/aboutusimg/icons/Icon Check.png" alt="" />
      </div>
    </div>
    <div class="para3">
      <h3>Local Knowledge</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis
        eleifend quam, non <br />
        efficitur nisi mattis quis. Vivamus scelerisque orci nec erat cursus,
        sed facilisis velit <br />
        porttitor. Vestibulum ligula sapien, cursus sed consectetur.
      </p>
      <br />
      <div class="readmore">
        <a href="#" routerLink="/our-services">Read More</a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>


