<app-navbar></app-navbar>

<h1 align="center">
  About Us -<br /><br />
  Beyond Expections
</h1>
<br /><br />

<div class="header">
  <p align="center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit
    suscipit egestas. Nunc <br />
    eget congue ante. Vivamus ut sapien et ex volutpat tincidunt eget at felis
    vivamus hendrerit.
  </p>
</div>

<div class="image1">
  <img src="assets/aboutusimg/Image Placeholder (2).png" alt="" />
</div>

<div class="border">
  <div class="borderminitext">
    <div class="bordertext">13+</div>
    <div class="minitext">Years Experience</div>
  </div>

  <div class="vl"></div>

  <div class="borderminitext2">
    <div class="bordertext">13+</div>
    <div class="minitext">Satisfied Clients</div>
  </div>

  <div class="vl2"></div>

  <div class="borderminitext3">
    <div class="bordertext">13+</div>
    <div class="align1">
      <div class="minitext">Local Team Members</div>
    </div>
  </div>

  <div class="vl3"></div>

  <div class="borderminitext4">
    <div class="bordertext">13+</div>

    <div class="align2">
      <div class="minitext">Products</div>
    </div>
  </div>
</div>

<h1 align="center" id="Gallery">Gallery</h1>
<br /><br />
<p align="center">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit
  suscipit egestas. Nunc <br />
  eget congue ante. Vivamus ut sapien et ex volutpat tincidunt eget at felis
  vivamus hendrerit.
</p>
<br /><br /><br />

<div class="boxcloumn1">
  <div class="box">
    <div class="text">
      <div class="galllery">
        <img src="assets/aboutusimg/Image Placeholder (4).png" alt="" />
      </div>
    </div>
  </div>

  <div class="box33" routerLink="/weather-features">
    <div class="box">
      <div class="text">
        <div class="gallerytext">
          <h3 align="center">Weather Features</h3>
          <p align="center">
            Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit.
            Vivamus hendrerit suscipit egestas. <br />
            Nunc eget congue ante.
          </p>
          <a href="" align="center" routerLink="/weather-features"
            >see more...</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="text">
      <div class="galllery">
        <div class="border-radius">
          <img src="assets/aboutusimg/plant4.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="boxcloumn2">
  <div class="box33" routerLink="/lawn-care">
    <div class="box">
      <div class="text">
        <div class="gallerytext">
          <h3 align="center">Lawn Care</h3>
          <p align="center">
            Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit.
            Vivamus hendrerit suscipit egestas. <br />
            Nunc eget congue ante.
          </p>
          <a href="" align="center" routerLink="/lawn-care">see more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="text">
      <div class="galllery">
        <img src="assets/aboutusimg/Image Placeholder (3).png" alt="" />
      </div>
    </div>
  </div>

  <div class="box3" routerLink="/irrigation-systems">
    <div class="text">
      <div class="gallerytext">
        <h3 align="center">Irrigation</h3>
        <p align="center">
          Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit. Vivamus
          hendrerit suscipit egestas. <br />
          Nunc eget congue ante.
        </p>
        <a href="" align="center" routerLink="/irrigation-systems">see more...</a>
      </div>
    </div>
  </div>
</div>

<div class="boxcloumn3">
  <div class="box">
    <div class="text">
      <div class="galllery">
        <img src="assets/aboutusimg/Image Placeholder (7).png" alt="" />
      </div>
    </div>
  </div>

  <div class="box2">
    <div class="text">
      <div class="gallerytext">
        <h3 align="center" routerLink="/seasonal-maintanence">Seasonal Maintenece</h3>
        <p align="center">
          Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit. Vivamus
          hendrerit suscipit egestas. <br />
          Nunc eget congue ante.
        </p>
        <a href="" align="center" routerLink="/seasonal-maintanence">see more...</a>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="text">
      <div class="galllery">
        <div class="border-radius">
          <img src="assets/aboutusimg/plant44.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br />

<app-footer></app-footer>
