<h1 align="center">Pricing Table</h1>
<p align="center">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit
  suscipit egestas. Nunc <br />
  eget congue ante. Vivamus ut sapien et ex volutpat tincidunt eget at felis
  vivamus hendrerit.
</p>

<div class="block1">
  <div class="box1"><p class="p2">Package 1</p></div>
  <div class="box11">
    <h3>Standard Plan</h3>
    <br />
    <p class="p33">(from as little as)</p>
    <h2>R459.99</h2>
    <br />
    <p class="p3">/Per month</p>
    <hr />

    <div class="p3text">
      <p class="p3">Intial Consulation</p>
      <div class="hrtext"><hr /></div>
      <br /><br />

      <p class="p3">Lobour Costs</p>
      <div class="hrtext"><hr /></div>
    </div>

    <br />
    <br />
    <p class="p3">Intial Consulation</p>
    <div class="hrtext"><hr /></div>
    <br />
    <br />
    <p class="p3">Intial Consulation</p>
    <div class="hrtext"><hr /></div>

    <button id="getstartedBtn" routerLink="/endpage">Purchase</button>
  </div>
</div>

<div class="block2">
  <div class="blockcolor2"><p class="p2">Package 3</p></div>
  <div class="blockcolor22">
    <h3>Premiun Plan</h3>
    <br />
    <p class="p33">(close to)</p>
    <h2>R999.99</h2>
    <br />
    <p class="p3">/Per month</p>
    <hr />

    <div class="p3text">
      <p class="p3">Intial Consulation</p>
      <div class="hrtext"><hr /></div>
      <br /><br />

      <p class="p3">Lobour Costs</p>
      <div class="hrtext"><hr /></div>
    </div>

    <br />
    <br />
    <p class="p3">Intial Consulation</p>
    <div class="hrtext"><hr /></div>
    <br />
    <br />
    <p class="p3">Intial Consulation</p>
    <div class="hrtext"><hr /></div>

    <button id="getstartedBtn" routerLink="/endpage" >Purchase</button>
  </div>
</div>

<div class="block3">
  <div class="blockcolor2"><p class="p2">Package 2</p></div>

  <div class="blockcolor222">
    <h3>Single Plan</h3>
    <br />
    <p class="p33">(considered as)</p>
    <h2>OPTIONAL</h2>
    <br />
    <p class="p3">day/hourly</p>
    <hr />

    <div class="p3text">
      <p class="p3">Intial Consulation</p>
      <div class="hrtext"><hr /></div>
      <br /><br />

      <p class="p3">Lobour Costs</p>
      <div class="hrtext"><hr /></div>
    </div>

    <br />
    <br />
    <p class="p3">Intial Consulation</p>
    <div class="hrtext"><hr /></div>
    <br />
    <br />
    <p class="p3">Intial Consulation</p>
    <div class="hrtext"><hr /></div>

    <button id="getstartedBtn" routerLink="/endpage" (click)="openSpinner()">
      Purchase
    </button>
  </div>
</div>
<a href="h.html" routerLink="/" (click)="openSpinner()">BACK TO HOME PAGE</a>
<br /><br /><br />
