<app-navbar></app-navbar>

<h1 align="center">Our Services</h1>
<br /><br />
<p class="para1" align="center">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit
  suscipit egestas. Nunc <br />
  eget congue ante. Vivamus ut sapien et ex volutpat tincidunt eget at felis
  vivamus hendrerit.
</p>
<br /><br />
<div class="boxGroup1" (click)="openSpinner()">
  <div class="box1" routerLink="/blog-pages">
    <h4>Free Consultations</h4>
    <div class="box22">
      <div class="icon">
        <img src="assets/aboutusimg/icons/24 Hour Service.png" alt="" />
      </div>
    </div>
    <p class="p2">
      We provide the best of consultations <br />
      regarding<br />All there is to do with garden whether<br />
      servicing or maintenance...
    </p>
    <div class="readmore"><a href="" routerLink="/blog-pages">Read More</a><br /></div>
  </div>

  <br /><br />
  <div class="box2" routerLink="/seasonal-maintanence">
    <h4>Seasonal Maintenance</h4>
    <div class="box22">
      <div class="icon">
        <img src="assets/aboutusimg/icons/Digging.png" alt="" />
      </div>
    </div>
    <p class="p2">
      We do more than just operate on your<br />
      gardening dillema<br />we have a couple of ways we maintan <br />
      our customers service, we offer...
    </p>
    <div class="readmore"><a href=""  routerLink="/seasonal-maintanence">Read More</a><br /></div>
  </div>

  <br /><br />
  <div class="box3" routerLink="/irrigation-systems">
    <h4>Irrigation Systems</h4>
    <div class="box22">
      <div class="icon">
        <img src="assets/aboutusimg/icons/Flower Growing.png" alt="" />
      </div>
    </div>
    <p class="p2">
      our methods on getting sustainance for our plants come in diffrent
      variations,<br />allowing for the precise delivery of water to crops or
      plants. Us... <br />
    </p>
    <div class="readmore"><a href="" routerLink="/irrigation-systems">Read More</a><br /></div>
  </div>
</div>

<div class="boxGroup2">
  <div class="box1" routerLink="/weather-features">
    <h4>Weater Features</h4>
    <div class="box22">
      <div class="icon">
        <img src="assets/aboutusimg/icons/Garden Sprinkler.png" alt="" />
      </div>
    </div>
    <p class="p2">
      variations of AI tech to enhance your <br />
      quality of plantation <br />faster and more effectively, ensuring a <br />
      guareented quality regardless of weather.
    </p>
    <div class="readmore"><a href="" routerLink="/weather-features">Read More</a><br /></div>
  </div>

  <br /><br />
  <div class="box2"  routerLink="/weather-features">
    <h4>Gardeners</h4>
    <div class="box22">
      <div class="icon">
        <img src="assets/aboutusimg/icons/Gardener.png" alt="" />
      </div>
    </div>
    <p class="p2">
      As we maintain our clients services we have <br />
      proffesional individuals who <br />prorities the clients unique desires
      <br />
      in terms of what they want.
    </p>
    <div class="readmore"><a href="" routerLink="/weather-features">Read More</a><br /></div>
  </div>

  <br /><br />
  <div class="box3" routerLink="/lawn-care">
    <h4>Lawn Care</h4>
    <div class="box22">
      <div class="icon">
        <img src="assets/aboutusimg/icons/lawn mower.png" alt="" />
      </div>
    </div>
    <p class="p2">
      Nothing is ever too small or too big<br />
      in terms of gardening<br />there is nothing too big when it comes to
      <br />
      caring for our greenlands...
    </p>
    <div class="readmore"><a href="" routerLink="/lawn-care">Read More</a><br /></div>
  </div>
</div>

<button id="getStartedBtn" (click)="openDialog2()">
  Sign Up To Find out more...
</button>
<app-footer></app-footer>
