<button class="" routerLink="/our-services">
  <p></p>
</button>

<article>
  <p class="header1">
    Transforming your garden into a haven for pollinators is not only beneficial
    for the environment but also adds vibrancy and life to your outdoor space.
    Here are some essential tips to create a pollinator-friendly garden:
  </p>
  <br />

  <img src="assets/aboutusimg/articles/the peony and the bee.jpeg" alt="" />

  <div class="part1">
    <h2>1. Choose Native Plants</h2>
    <p>
      Select plants that are native to your region. <br />
      Native plants are well-adapted to the local climate and provide food and
      shelter for <br />
      native pollinators.
    </p>

    <br /><br />

    <h2>2. Provide a Variety of Flowers</h2>
    <p>
      Offer a diverse range of flowers with different colors, <br />
      shapes, and bloom times. This ensures a continuous supply of nectar and
      pollen <br />
      throughout the growing season.
    </p>

    <br /><br />

    <h2>3. Avoid Pesticides</h2>
    <p>
      Avoid using harmful pesticides in your garden. <br />
      These chemicals can be detrimental to pollinators. Instead, opt for
      natural pest control <br />
      methods or use pollinator-safe alternatives.
    </p>
  </div>

  <div class="place">
    <img
      src="assets/aboutusimg/articles/6 Tips on How to Grow an Indoor Garden (And Where To Put It).jpeg"
      alt=""
    />
  </div>

  <div class="part2">
    <h2>4. Create Shelter and Nesting Sites</h2>
    <p>
      Include features like brush piles, rocks, and undisturbed soil <br />
      for pollinators to find shelter and create nests. <br />
      Different species of pollinators have various nesting preferences.
    </p>

    <br /><br />

    <h2>5. Provide Water Sources</h2>
    <p>
      Place shallow containers with water in your garden to provide a water
      source for <br />
      pollinators. <br />
      Adding rocks or pebbles allows them to land safely and take a drink.
    </p>

    <br /><br />

    <h2>6. Learn About Local Pollinators</h2>
    <p>
      Understand the types of pollinators that are native to your area. <br />
      This knowledge will help you cater to their specific needs and
      preferences.
    </p>

    <br /><br /><br /><br />
  </div>
  <h2>7. Maintain Blooming Succession</h2>
  <p>
    Plan your garden to have a succession of blooming plants throughout the
    seasons. This provides a continuous food supply for pollinators and keeps
    your garden vibrant.
  </p>
</article>

<button routerLink="/our-services">
  <p>Click here to go back to page...</p>
</button>
