<app-navbar></app-navbar>

<h1 align="center">
  New Articles And <br /><br />
  Knowlegde
</h1>

<br /><br />

<p align="center">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit
  suscipit egestas. Nunc <br />
  eget congue ante. Vivamus ut sapien et ex volutpat tincidunt eget at felis
  vivamus hendrerit.
</p>

<div class="boxtotal1" routerLink="/articles">
  <div class="boxtext1">
    <div class="image">
      <img src="assets/aboutusimg/blog/Image Placeholder (8).png" alt="" />
    </div>
  </div>
  <div class="text">
    <div class="texts"><p>10 October 2023</p></div>
    <div class="texts">
      <br />
      <h2>Creating a Pollinator Friendly Garden</h2>
      <h5>
        Vivamus accumsan diam eget ultricies auctor. <br />
        Proin iaculis metus vel condimentum tincidunt.
      </h5>
      <div class="readmore">
        <a href="">Read more...</a>
      </div>
    </div>
  </div>
</div>

<div class="boxtotal2" routerLink="/articles">
  <div class="boxtext1">
    <div class="image">
      <img src="assets/aboutusimg/blog/Image Placeholder (12).png" alt="" />
    </div>
  </div>
  <div class="text">
    <div class="texts">
      <p>18 October 2023</p>
      <br />
      <h2>Creating a Pollinator Friendly Garden</h2>
      <h5>
        Vivamus accumsan diam eget ultricies auctor. <br />
        Proin iaculis metus vel condimentum tincidunt.
      </h5>

      <a href="">Read more...</a>
    </div>
  </div>
</div>

<div class="boxtotal3" routerLink="/articles">
  <div class="boxtext1">
    <div class="image">
      <img src="assets/aboutusimg/blog/Image Placeholder (10).png" alt="" />
    </div>
  </div>
  <div class="text">
    <div class="texts"><p>20 October 2023</p></div>
    <div class="texts">
      <br />
      <h2>Creating a Pollinator Friendly Garden</h2>
      <h5>
        Vivamus accumsan diam eget ultricies auctor. <br />
        Proin iaculis metus vel condimentum tincidunt.
      </h5>
      <a href="">Read more...</a>
    </div>
  </div>
</div>

<br />

<app-footer></app-footer>

